version: '3.8'

services:
  pppq-api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../models:/app/models
      - ../data:/app/data
    environment:
      - MODEL_DIR=/app/models/pppq/
      - DATA_DIR=/app/data/processed/pppq/
    restart: unless-stopped